@charset "UTF-8";
@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-regular';
    src: url(Poppins/Poppins-Regular.ttf);
}

:root {
    --cor50: #F1F9FE;
--cor100: #E2F2FC;
--cor200: #BEE6F9;
--cor300: #85D1F4;
--cor400: #44BAEC;
--corPrincipal: #2AACE4;
--cor600: #0E82BB;
--cor700: #0D6797;
--cor800: #0F587D;
--cor900: #124968;
--cor950: #0C2F45;
}
* {
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
}
main {
    height: 100vh;
}
header a {
    color: rgb(0, 0, 0);
}
header a:hover {
    color: #000000;
    text-decoration: none;
}
header {
    position: fixed;
    z-index: 1000;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 2px 5px rgba(128, 128, 128, 0.505)
}
header img {
    width: 240px;
    height: 40px;
    margin-left: 25px;
}
.logo {
    height: 125px;
    width: 100px;
    left: 100px;
}
                                      /* Parte direita do cabeçalho */
.menu-bottons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}
                                     /* Lista */
 header ul {
    display: flex;
    gap: 20px;
    margin: -5px;
    margin-bottom: -5px;
    list-style: none;
    padding-right: 15px;
}
                                     /* Parte do ícone */
.divider {
    display: flex;
    flex-direction: row;
    width: 26px;
    height: 23px;
    margin-top: -5px;
    cursor: pointer;
}  
.divider::before {
    content: "";
    display: block;
    width: 3px; 
    height: 20px; 
    background-color: #333; 
    margin-right: 10px; 
}
                                     /* Parte dos botões */
.div-dir {
    padding-left: 20px;
}
.div-dir button {     
    border-radius: 6px;
}
/* Corpo do site */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 75px;
    background-color: rgb(255, 255, 255);
 }
 #result, #user-list, #beneficios, #outro-usuario, #problema {
    width: 80%;
    
 }
 .titulo {
    position: relative;
    display: inline-block;
    
    font-family: 'Poppins-regular';
}
.titulo::after {                      /* CONFIGURAÇÕES GERAIS */
    content: "";
    position: absolute;
    left: 0px;
    top: 50px;
    width: 101%;
    height: 2px;
    background-image: linear-gradient(-90deg, var(--cor400), var(--cor600));
}
ul {
    list-style-type: none;
}
li {
    font-weight: bold;
    margin-bottom: 10px;
}
                                                /* seção 1 */

 #pr {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    margin-right: auto;
    margin-top: 40px;
 }
#tittle-pr {
    display: inline-block;
    text-align: center;
    font-family: 'Poppins', sans-serif;               /* TITULOS PRINCIPAIS */
    font-weight: bolder;
}
#tittle-pr::after {
    content: "";
    position: absolute;
    left: -20px;
    top: 76px;
    width: 400px;
    height: 2px;
    background-image: linear-gradient(-90deg, var(--cor400), var(--cor600));
    animation: fade-right 1.2s ease-out; 
} 

                                                /* seção 2*/
#result-SMS {
    width: 100%;
}
#result ul {
    list-style-type: none;
}
.p-destaque {
    margin: auto;
    text-align: center;
    width: 200px;
}
.p-definicao {
    width: 800px;
    margin: 20px 0 0 80px;
}
#result span {
    color: #2AACE4;
    font-size: 1.2em;
}
#info {
    display: flex;                               
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    column-gap: 100px;
    max-width: 100%;                             /* DESCRIÇÃO GERAL DA SOLUÇÃO */
    font-size: 1.5em;
    padding: 10px;
    font-weight: bold;
}
#info-SMS {
    display: flex;                               
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 80px;
    width: 100%;                             /* DESCRIÇÃO GERAL DA SOLUÇÃO */
    font-size: 1.5em;
    font-weight: bold;
}
.definicao-destaque {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
.destaque {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 901px;
}
.definicao {
    width: 901px;
}
.item-destaque {
    width: 315px;
    height: 265px;
    box-shadow: 2px 2px 10px rgba(156, 152, 152, 0.42);
    border-radius: 20px;
}

.span-destaque {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 2.2em;
    color: var(--corPrincipal);
}


                                            /* seção 3 */



                                        /* Seção-GVC Problema*/


                                        /* Seção 4 */
#beneficios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.conjunto-beneficos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    column-gap: 30px;
    width: 1090px;
    margin-top: 50px;
}
.item-beneficios {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 220px;
    padding: 20px;
    box-shadow: 1px 4px 5px 0px rgba(158.1, 156.16671195652174, 156.16671195652174, 0.52);
    border-radius: 20px;
    background-color: var(--corPrincipal);
}
.item-beneficios p {
    display: block;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    color: white;   
}
                                                /* Seção 5 */
#lista-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
    height: 300px;
    margin: 60px 0;
    text-align: center;
}
#lista-usuario img {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;                                /* LISTA DE NICHOS QUE UTILIZAM DA FERRAMENTA*/
}
#lista-usuario-SMS {
    display: block;
    margin: auto;
    width: auto;
    height: auto;
}
.container-usuarios {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    align-items: center;
    justify-content: center;
    
}
.container-usuarios-SMS {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    align-items: start;
    justify-content: start;
    margin: 50px 0;
}
.container-usuarios-SMS h1 {
    width: 250px;
    text-align: center;   
}

.container-usuarios img {
    width: auto;
    height: auto;
}
.phone-SMS {
    width: 250px;
    height: 231px;
}
                                /* NUM */
.dif {
    width: auto;
    height: auto;
} 
                            /* NUM-USO-SEG */ 
.descricao-usuario {
    width: ;

}                             
                                                                    /* Rodapé */
footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #7676767e;
    bottom: -1400px;
    width: 100%;
    height: 100px;
}
.redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100px;
}
.cor-muda-svg:hover {
    fill: #2AACE4;
}