@charset "UTF-8";
@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-ExtraBold.ttf') format('truetype');
}

:root {
    --cor50: #F1F9FE;
--cor100: #E2F2FC;
--cor200: #BEE6F9;
--cor300: #85D1F4;
--cor400: #44BAEC;
--corPrincipal: #2AACE4;
--cor600: #0E82BB;
--cor700: #0D6797;
--cor800: #0F587D;
--cor900: #124968;
--cor950: #0C2F45;
}
/* Corpo do site */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 75px;
    background-color: rgb(255, 255, 255);
 }
 #result, #passos, #user-list, #beneficios, #outro-usuario, #problema {
    width: 80%;
 }

                                                /* seção 1 */

 #pr {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    margin-right: auto;
    margin-top: 40px;
 }

 #tittle-2FA {
    width: 400px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
 }                                                  /* TÍTULO PRINCIPAL COM A BASE */
#tittle-GVC {
    width: 500px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
#tittle-num h1 {
    width: 380px;
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}   
#tittle-SMS h1 {
    display: block;
    width: 380px;
    text-align: center;
    margin-top: 50px; 
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;  
}   
#tittle-SMS::after {
    content: "";
    position: absolute;
    left: -20px;
    top: 100px;
    width: 400px;
    height: 2px;
    background-color: #2AACE4;
    animation: fade-right 1.2s ease-out;
}
#tittle-GVC::after {
    content: "";
    position: absolute;
    left: -20px;
    top: 100px;
    width: 400px;
    height: 2px;
    background-color: #2AACE4;
    animation: fade-right 1.2s ease-out;
}
#tittle-num::after {
    content: "";
    position: absolute;
    left: -20px;
    top: 100px;
    width: 400px;
    height: 2px;
    background-color: #2AACE4;
    animation: fade-right 1.2s ease-out;
}
#tittle-2FA::after {
    content: "";
    position: absolute;
    left: -20px;
    top: 100px;
    width: 400px;
    height: 2px;
    background-color: #2AACE4;
    animation: fade-right 1.2s ease-out; 
}

@keyframes fade-right {
    
    0% {
        width: 0;
        left: -400px; 
    }
    100% {
        width: 400px;
        left: 0;
    }
}

                                                /* seção 2*/
#result ul {
    list-style-type: none;
}
#result p {
    width: 800px;
    margin-top: 30px;  
}
#result span {
    color: #2AACE4;
    font-size: 1.2em;
}
#info {
    display: flex;                               
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    column-gap: 100px;
    max-width: 100%;                             /* DESCRIÇÃO GERAL DA SOLUÇÃO */
    font-size: 1.5em;
    padding: 10px;
    font-weight: bold;
}
.lista-GVC li {
    margin-bottom: 10px;
}
.titulo-GVC {
    position: relative;
}
.base-titulo-GVC {
    position: absolute;
    left: 0;
    top: 55px;
    width: 300px;
    height: 2px;
    background-color: #2AACE4;
}
                                            /* seção 3 */

                                        /* Seção-GVC Problema*/
#problema {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
}
.titulo-problema {
    position: relative;
}
.titulo-problema h1 {
    margin-bottom: 20px;
}
.base-titulo-problema {                                 /* PROBLEMA QUE A SOLUÇÃO GVC COMBATE*/
    position: absolute;
    left: -3px;
    top: 53px;
    width: 325px;
    height: 2px;
    background-color: #2AACE4;
}
.texto ul {
    list-style-type: none;
}
.texto li {
      margin-bottom: 10px;
}

                                        /* Seção 4 */
#beneficios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
#beneficios ul {
    display: block;
    list-style-type: none;
    margin-top: 80px;
    width: 740px;
}
.titulo-beneficios {                                  /* BENEFÍCIOS MODAVO */
    position: relative;
}
.titulo-beneficios h1 {
    text-align: left;
}
.base-titulo-beneficios {
    position: absolute;
    left: -5px;
    top: 50px;
    width: 271px;
    height: 2px;
    background-color: #2AACE4;
}
                                                /* Seção 5 */
#lista-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
    width: 80%;
    max-height: 300px;
    text-align: center;
}
#lista-usuario img {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;                                /* LISTA DE NICHOS QUE UTILIZAM DA FERRAMENTA*/
}
.titulo {
    position: relative;
}
.base-titulo-usuario {
    position: absolute;
    left: -5px;
    top: 60px;
    width: 458px;
    height: 2px;
    background-color: #2AACE4;
}
.divisoria {  
    left: -5px;
    top: 50px;
    width: 130px;
    height: 2px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 100%;
    box-shadow: -2px 0 5px #2AACE4;
    background-color: #2AACE4;
}
.divisoria-baixo {
    left: -5px;
    top: 50px;
    width: 130px;
    height: 2px;
    margin: auto;
    margin-top: 10px;
    border-radius: 100%;
    background-color: #2AACE4;
}

.container-usuarios {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    align-items: center;
    justify-content: center;
}
.container-usuarios img {
    width: auto;
    height: auto;
}
/*

*/
