* {
    padding: 0;
    margin: 0;
                                                /* Animações */
}
@keyframes circle-in-center {
    from {
      clip-path: circle(0%);
    }
    to {
      clip-path: circle(125%);
    }
  }
  
  [transition-style="in:circle:center"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
  }
  @keyframes wipe-in-right {
    from {
      clip-path: inset(0 100% 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:wipe:right"] {
    animation: 3.5s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
  }
  @keyframes wipe-in-left {
    from {
      clip-path: inset(0 0 0 100%);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:wipe:left"] {
    animation: 3.5s cubic-bezier(.25, 1, .30, 1) wipe-in-left both;
  }
                                            /* Cabeçalho */
header a {
    color: white;
}
header a:hover {
    color: #3ed5ff;
    text-decoration: none;
}
header {
    position: fixed;
    z-index: 1000;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    background-color: #2AACE4;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 7px 10px rgba(128, 128, 128, 0.505)
}
.logo {
    height: 125px;
    width: 100px;
    left: 100px;
}
img {
    width: 325px;
    height: 77px;

}
                                      /* Parte direita do cabeçalho */
.menu-bottons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}
                                     /* Lista */
 header ul {
    display: flex;
    gap: 20px;
    margin: -5px;
    margin-bottom: -5px;
    list-style: none;
    padding-right: 15px;
}
                                     /* Parte do ícone */
.divider {
    display: flex;
    flex-direction: row;
    width: 26px;
    height: 23px;
    margin-top: -5px;
    cursor: pointer;
}  
.divider::before {
    content: "";
    display: block;
    width: 3px; 
    height: 20px; 
    background-color: #333; 
    margin-right: 10px; 
}
                                     /* Parte dos botões */
.div-dir {
    padding-left: 20px;
}
.div-dir button {  
    color: #ffffff; 
    border-radius: 6px;  
}
.div-dir button:hover {
    color: black;
    background-color: #ffffff;   
}
                                     /* Corpo do Site */
main {
    height: 100vh;
    margin-top: 120px;
    background-color: rgb(255, 255, 255);
 }
 main img {
    width: auto;
    height: auto;
 }
 section {
    height: 347px;
    font-weight: bold;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
 }
 .div-selec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    color: black;
 }
 .div-selec:hover {
    text-decoration: none;
    color: black;
 }
 #Logo-modavo {
    color: #2AACE4;
    background-color: #ffffff;
    height: 200px;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 #detalhe p {
    display: block;
    margin: auto;
    margin-top: 80px;
    width: 410px;
    color: #2AACE4;
    font-size: 1.3em;
    text-align: justify;
 }
 #CPaaS-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 1.3em;
 }
 #CPaaS-info p {
    width: 610px;
 }

 #inf-2FA {
    display: flex;
    margin-top: 20px;
    background-color: #f1f1f178;
 }
 #inf-2FA div {
    display: flex;
    flex-direction: column;
    width: 610px;
    gap: 10px;
 }
 #inf-2FA img {
    width: 135px;
    height: 135px;
 }


#inf-GVC {
    
    display: flex;
    
}
#inf-GVC div {
    display: flex;
    flex-direction: column;
    width: 610px;
}
#inf-num-masc {
    background-color: #f1f1f178;
    display: flex;
}
#inf-SMS-auto {
    display: flex;
}
#inf-SMS-auto div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 610px;
}

                                                