div#bloco {
    width: 500px;
    height: 500px;
    background-color: red;
    position: relative;
    margin: 95px auto;
    border: 17px solid black;    
}
.faixa {
    position: absolute;    
    background-color: aqua;
    width: 150px;
    height: 150px;
}  