* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100%;
    height: 100dvh;
    background-image: linear-gradient(45deg, black, rgb(0, 0, 86));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
    transition: 0.2s ease-in;
}
.container-calc {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 600px;
    border-radius: 20px;
    filter: drop-shadow(0 0 30px #b8b8b856);    
    background-color: antiquewhite;
    transition: .3s ease-in;
    transform: scale(1);
}

@media (max-height: 700px ) {
    body {
        background-image: linear-gradient(60deg, rgb(34, 34, 34), rgb(1, 1, 122));
    }
    .container-calc {
        transform: scale(.8);
    }
  }

@media (max-height: 550px ) {
    body {
        background-image: linear-gradient(75deg, rgb(54, 54, 54),  rgb(1, 1, 153));
    }
    .container-calc {
        transform: scale(.6);
    }
}

.container-calc:hover {
    filter: drop-shadow(0 0 35px #b8b8b86e);
}
#tela {
    border-radius: 15px 15px 0 0;
    z-index: 11;
    background-color: rgb(0, 0, 86);
    width: 100%;
    height: 200px;
    position: relative;
}

#current-operetion {
    font-weight: bold;
    color: white;
    width: 360px;
    height: 90px;
    top: 50%;
    text-align: end;
    padding: 0 10px;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    font-size: calc(20 / 100 * 360px);
}

#previous-operation {
    font-weight: bold;
    color: rgb(139, 139, 139);
    width: 360px;
    height: 50%;
    top: 0%;
    text-align: end;
    font-size: 20pt;
    padding: 10px;
    padding-top: 50px;
    position: absolute;
}

#teclado {
    border-radius:  0 0 15px 15px;
    z-index: 11;
    background-color: black;
    width: 100%;
    height: 400px;
}
#iqualite {
    z-index: 12;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 2px solid white;
    width: 120px;
    height: 100px;
    position: relative;
    background-color: transparent;
    transition: .2s ease-out;
    width: 248px;
}
#iqualite:hover {
    
    box-shadow: 0px 0px 30px 10px #d7d7d776;
    background-color: #260047;
}
#iqualite:active {
    transform: scale(.8);
}
.num {
    z-index: 12;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    width: 120px;
    height: 100px;
    position: relative;
    background-color: transparent;
    transition: .2s ease-out;
}

.num:hover {
    z-index: 15;
    box-shadow: 0px 0px 30px 10px #d7d7d776;
    transform: scale(1.10);
}
.num:active {
    transform: scale(1.3);
}

.janela-flutuante {
    position: absolute;
    top: 50%;
    left: -12%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 300px;
    background-color: transparent;
    border-radius: 12px;
}
  
.janela-flutuante-C {
    position: absolute;
    top: 50%;
    left: 112%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 300px;
    background-color: transparent;
    border-radius: 12px;
}

.operator {
    width: 50px;
    height: 50px;
    background-color: #353535;
    color: #989898;
    font-size: 19px;
    cursor: pointer;
    border: none;
    transition: .2s ease-out;
}
.operator-ex {
    width: 50px;
    height: 50px;
    background-color: #353535;
    color: #989898;
    font-size: 19px;
    cursor: pointer;
    border: none;
    transition: .2s ease-out;
}  
.operator-ex:hover {
    color: white;
    background-color:  #181818;
}
.operator-ex:active {
    transform: scale(.9);
}
.operator:hover {
    color: white;
    background-color:  #181818;
}
.operator:active {
    transform: scale(.9);
}

.btn-1 {
    border-radius: 12px 12px 0 0;
}
#btn-2 {  
    border-radius:0 0 12px 12px;
}

.backclear {
    width: 50px;
    height: 50px;
    background-color: #353535;
    color: #989898;
    font-size: 19px;
    cursor: pointer;
    border: none;
    transition: .2s ease-out;
}  
  
.backclear:hover {
    color: white;
    background-color:  #181818;
}