/* Função para usar outro arquivo */
/* 'varials valores' */
@use 'varials' 
@use 'mixins' 

*
    color: rgb(57, 57, 57)
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Raleway', sans-serif
main
    max-width: 100%    
body
    max-width: 100vw 
    max-height: 100dvh
    max-height: 100vh  
    background: rgb(255, 255, 255)

    a
        text-decoration: none
        color: black

        &:hover
            text-decoration: none
            color: varials.$cor600
    
    ul
        list-style: none

.header   
    padding: 20px
    max-width: 100%
    max-height: 80px
    background-color: transparent
    
    @include mixins.flex-row-center-between

    &-nav
        @include mixins.flex-row-center-between /* incluindo configuração da pasta 'mixins' */
        
    &-nav-buttons
        width: 250px
        height: 50px
        column-gap: 20px
        @include mixins.flex-row-center-center

    &-nav-list
        width: 500px
        height: 19px 
        padding: 0
        margin: 0  
        font-weight: bold     
        @include mixins.flex-row-center-spacearound

        &-dropdown
            &-content
                display: none
                &:hover
                    display: flex
                    flex-direction: column

    &-nav-list-toggle
        cursor: pointer
        width: 20px
        margin: 0 10px
                   

    &-logo
        width: auto
        height: auto

        img
            width: 80%
            height: auto
    
    &-nav-list     
        font-size: 1.2em                                               

                                                             /* PARTE DO CORPO */
                                                             /* PRIMEIRA PARTE */
        
.CPaaS
    margin: auto
    height: auto
    max-width: 100%       
        
.CPaaS-top
    @include mixins.flex-row-center-center
    column-gap: 20px
    width: auto
    margin: 0 0 80px 0
     
    &-principal
        @include mixins.flex-column-start-center
        height: auto
        width: 500px

        &-titulo
            position: relative
            &::after
                @include mixins.baseTitulo
        
        img
            display: block
            width: 360px
            height: auto          

    &-div-down
        @include mixins.flex-column-center-center
        margin: 20px 0 0 0
        width: 650px
        height: auto

        &-desc
            font-weight: bold
            font-size: 1.3em

            &-btn
                @include mixins.flex-start-center
                width: 100%
                column-gap: 25px
                button
                    font-weight: bold
                    width: 40%
                    height: 45px
                                   
                

    &-img
        margin: 50px 0 0 0
        height: 500px
        width: auto

        img
            width: 650px
            height: auto      

                                                    /* SEGUNDA PARTE */

.CPaaS-solucao
    @include mixins.flex-column-center-center
    row-gap: 30px

    &-titulo
        @include mixins.flex-column-center-center

        h1
            font-weight: bold
            position: relative

            &::after
                @include mixins.baseTitulo

    .container
        padding: 0
        width: 1400px

    &-solucoes
        overflow: hidden
        background-color: varials.$corPrincipal
        padding: 10px
        margin: 15px
        border-radius: 20px
        transition: .3s ease
        box-shadow: 7px 7px 14px #5959597c
        h1
            font-family: 'poppins', sans-serif 
            text-align: center
            color: #414141
            white-space: nowrap
        &:hover
            transform: scale(1.05)
            color: #1d1d1d
            
            
                  

    &-detalhe
        font-size: 1.3em
        width: 1400px
        
        p
            display: block
            color: #2AACE4
            margin: auto   
            text-align: center 
            transition: .3s ease
            &:hover
                text-shadow: 6px 6px 12px #46bef1a4       
                                                                /* TERCEIRA PARTE */
.CPaaS-usuarios
    @include mixins.flex-column-center-center
    row-gap: 30px
    height: 700px
    width: 90%
    margin-bottom: 50px

    &-titulo
        position: relative
        &::after
            @include mixins.baseTitulo

    &-container
        @include mixins.flex-row-center-center
        column-gap: 8px

        &-item
            height: 410px
            p
                color: varials.$corPrincipal
                font-weight: bold
                text-align: center
            ul
                display: block                
                height: 240px
                padding: 10px
                margin: 0

                li
                    color: black
                    text-align: center
                    margin: 8px 0
            img
                display: block
                width: 80px
                height: auto
                margin: auto
                margin-bottom: 25px
    
                                                             /* QUARTA PARTE */
.CPaaS-listas
    @include mixins.flex-row-center-center
    column-gap: 50px
    height: auto  
    padding: 20px
    border-radius: 40px
    box-shadow: 7px 7px 14px #5959597c
    background-image: linear-gradient(-40deg, varials.$corPrincipal, varials.$cor300, varials.$cor200)

    &-titulo
        font-weight: bold

    &-transformacao
        &-item
            @include mixins.flex-row-start-center
            min-height: 72px
            span    
                width: 40px
                height: auto
                
    &-vantagem
        &-item 
            span
                color: #449ae6
                font-size: 1.5em
            p
                font-size: 1.2em

    

footer 
  @include mixins.flex-column-center-center
  width: 100%
  height: 100px

.redes 
  display: flex
  flex-direction: row
  align-items: center
  gap: 20px
  width: 100px

.cor-muda-svg:hover 
  fill: #2AACE4


                                                                      /* PARTE DAS MEDIA QUERYS */

@media (max-width: 1400px)
    


@media (max-width: 1024px)
    

@media (max-width: 768px)


@media (max-width: 320px)
           