/* Função para usar outro arquivo */
/* 'varials valores' */
@use 'varials' 
@use 'mixins' 

*
    color: rgb(70, 70, 70)
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Raleway', sans-serif
    
body
    height: 100dvh
    height: 100vh  
    background: rgb(255, 255, 255)

    a
        text-decoration: none
        color: black

        &:hover
            text-decoration: none
            color: varials.$cor600
    
    ul
        list-style: none

.header   
    padding: 20px
    width: 100%
    height: 80px
    background-color: transparent
    
    @include mixins.flex-row-center-between
    
    

    &-nav
        @include mixins.flex-row-center-between /* incluindo configuração da pasta 'mixins' */
        
    &-nav-buttons
        width: 250px
        height: 50px
        column-gap: 20px
        @include mixins.flex-row-center-center

    &-nav-list
        width: 500px
        height: 19px 
        padding: 0
        margin: 0  
        font-weight: bold     
        @include mixins.flex-row-center-spacearound

        &-dropdown
            &-content
                display: none
                &:hover
                    display: flex
                    flex-direction: column

    &-nav-list-toggle
        cursor: pointer
        width: 20px
        margin: 0 10px
                   

    &-logo
        width: auto
        height: auto

        img
            width: 80%
            height: auto
    
    &-nav-list     
        font-size: 1.2em                                       

                                                             /* PARTE DO CORPO */
                                                             /* PRIMEIRA PARTE */
        
.CPaaS
    margin: auto
    height: 1100px
    width: 80%        
        
.CPaaS-top
    @include mixins.flex-colunm-start-center-wrap 
     
    &-principal
        @include mixins.flex-column-center-center
        margin: 50px 0 0  0
        padding: 50px 0 0 0
        height: 500px
        width: 500px

        &-titulo
            position: relative
            &::after
                @include mixins.baseTitulo
        
        img
            display: block
            width: 360px
            height: auto          

    &-div-down
        @include mixins.flex-column-center-center
        margin: 50px 0 0 0
        width: 700px
        height: 500px

        &-desc
            font-weight: bold
            font-size: 1.3em

            &-btn
                padding: 20px

                button
                    margin: 0 10px

    &-img
        margin: 50px 0 0 0
        height: 500px
        width: 500px

        img
            width: 650px
            height: auto      

                                                    /* SEGUNDA PARTE */

.CPaaS-solucao
    @include mixins.flex-column-center-center
    row-gap: 30px


    &-titulo
        @include mixins.flex-column-center-center

        h1
            font-weight: bold
            position: relative

            &::after
                @include mixins.baseTitulo

    &-solucoes
        overflow: hidden
        padding: 12px
        margin: 10px
        border: 5px solid gray
        border-radius: 12px
            

    &-detalhe
        font-size: 1.3em
        width: 100%
        text-align: center    
        
        padding: 20px 0
        margin: 10px
        border: 3px solid black
        border-bottom: 6px solid black
        border-radius: 12px
        border-color: gray
        
        p 
            color: #2AACE4
            margin: auto          
            width: 600px
            transition: text-shadow .6s ease-in
            cursor: default

            &:hover
                text-shadow: 2px 2px 5px #2AACE4
        
                                                             /* TERCEIRA PARTE */
.CPaaS-usuarios
    @include mixins.flex-column-center-center
    row-gap: 30px
    height: 700px

    &-titulo
        position: relative
        &::after
            @include mixins.baseTitulo

    &-container
        @include mixins.flex-row-center-center
        column-gap: 8px

        &-item
            height: 410px
            p
                color: varials.$corPrincipal
                font-weight: bold
                text-align: center
            ul
                display: block                
                height: 240px
                padding: 10px
                margin: 0

                li
                    color: black
                    text-align: center
                    margin: 8px 0
            img
                display: block
                width: 80px
                height: auto
                margin: auto
                margin-bottom: 25px
    
                                                             /* QUARTA PARTE */
.CPaaS-listas
    @include mixins.flex-row-center-center
    column-gap: 50px
    height: 700px

    &-vantagem
        &-item
            margin: 15px 0







footer 
  @include mixins.flex-column-center-center
  width: 100%
  height: 100px

.redes 
  display: flex
  flex-direction: row
  align-items: center
  gap: 20px
  width: 100px

.cor-muda-svg:hover 
  fill: #2AACE4

