@charset "UTF-8";
/* Função para usar outro arquivo */
/* 'varials valores' */
* {
  color: rgb(70, 70, 70);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  height: 100dvh;
  height: 100vh;
  background: rgb(255, 255, 255);
}
body a {
  text-decoration: none;
  color: black;
}
body a:hover {
  text-decoration: none;
  color: #0E82BB;
}
body ul {
  list-style: none;
}

.header {
  padding: 20px;
  width: 100%;
  height: 80px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-nav-buttons {
  width: 250px;
  height: 50px;
  column-gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.header-nav-list {
  width: 500px;
  height: 19px;
  padding: 0;
  margin: 0;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.header-nav-list-dropdown-content {
  display: none;
}
.header-nav-list-dropdown-content:hover {
  display: flex;
  flex-direction: column;
}
.header-nav-icon {
  margin: 0 10px;
}
.header-nav-icon svg {
  width: 20px;
}
.header-nav-icon path {
  cursor: pointer;
  fill: #0E82BB;
}
.header-logo {
  width: auto;
  height: auto;
}
.header-logo img {
  width: 80%;
  height: auto;
}
.header-nav-list {
  font-size: 1.2em;
  /* PARTE DO CORPO */
  /* PRIMEIRA PARTE */
}

.CPaaS {
  margin: auto;
  height: 1100px;
  width: 80%;
}

.CPaaS-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.CPaaS-top-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0 0 0;
  padding: 50px 0 0 0;
  height: 500px;
  width: 500px;
}
.CPaaS-top-principal-titulo {
  position: relative;
}
.CPaaS-top-principal-titulo::after {
  content: "";
  position: absolute;
  top: 50px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #2AACE4;
}
.CPaaS-top-principal img {
  display: block;
  width: 360px;
  height: auto;
}
.CPaaS-top-div-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0 0 0;
  width: 700px;
  height: 500px;
}
.CPaaS-top-div-down-desc {
  font-weight: bold;
  font-size: 1.3em;
}
.CPaaS-top-div-down-desc-btn {
  padding: 20px;
}
.CPaaS-top-div-down-desc-btn button {
  margin: 0 10px;
}
.CPaaS-top-img {
  margin: 50px 0 0 0;
  height: 500px;
  width: 500px;
}
.CPaaS-top-img img {
  width: 650px;
  height: auto;
  /* SEGUNDA PARTE */
}

.CPaaS-solucao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
}
.CPaaS-solucao-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.CPaaS-solucao-titulo h1 {
  font-weight: bold;
  position: relative;
}
.CPaaS-solucao-titulo h1::after {
  content: "";
  position: absolute;
  top: 50px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #2AACE4;
}
.CPaaS-solucao-solucoes {
  padding: 8px;
  margin: 10px;
  border: 3px solid black;
  border-bottom: 6px solid black;
  border-radius: 12px;
  border-color: gray;
}
.CPaaS-solucao-detalhe {
  font-size: 1.3em;
  width: 600px;
  text-align: center;
  color: #2AACE4;
  /* TERCEIRA PARTE */
}

.CPaaS-listas {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2px solid rgba(118, 118, 118, 0.4941176471);
  width: 100%;
  height: 100px;
}

.redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100px;
}

.cor-muda-svg:hover {
  fill: #2AACE4;
}

/*# sourceMappingURL=main.css.map */
