@use 'varials' 
@use 'mixins' 

*
    color: rgb(70, 70, 70)
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Raleway', sans-serif

body
    height: 100dvh
    height: 100vh  
    background: rgb(255, 255, 255)

    a
        text-decoration: none
        color: black

        &:hover
            text-decoration: none
            color: varials.$cor600
    
    ul
        list-style: none

.titulo
    position: relative
    &::after                            
        @include mixins.baseTitulo
    /* base de todos os títulos*/

.header
    padding: 20px
    width: 100%
    height: 80px
    background-color: transparent
    
    @include mixins.flex-row-center-between
    
    

    &-nav
        @include mixins.flex-row-center-between /* incluindo configuração da pasta 'mixins' */
        
    &-nav-buttons
        width: 250px
        height: 50px
        column-gap: 20px
        @include mixins.flex-row-center-center

    &-nav-list
        width: 500px
        height: 19px 
        padding: 0
        margin: 0  
        font-weight: bold     
        @include mixins.flex-row-center-spacearound

        &-dropdown
            &-content
                display: none
                &:hover
                    display: flex
                    flex-direction: column

    &-nav-list-toggle
        cursor: pointer
        width: 20px
        margin: 0 10px
                   

    &-logo
        width: auto
        height: auto

        img
            width: 80%
            height: auto
    
    &-nav-list     
        font-size: 1.2em 


.solves
    width: 80%
    height: 500px
    margin: auto
    @include mixins.flex-column-center-center

.FA-topo
    column-gap: 100px
    flex-direction: row
    &-desc
        position: relative
        @include mixins.flex-column-start-end
        width: 600px
        height: 280px
        &-buttons
            padding: 10px 0 0 0
            button
                font-weight: bold
                padding: 2px
                width: 240px
                height: 50px
                i
                    margin: 0 0 0 8px
        p
            font-size: 1.2em
            font-weight: bold
            width: 500px
        img
            position: absolute
            right: 154px
            top: -40px
            display: block
        
            
            

.FA-funcao
    @include mixins.flex-column-center-center
    row-gap: 65px
    width: 100%
    &-container
        @include mixins.flex-column-center-center 
        row-gap: 30px
        &-top
            @include mixins.flex-row-center-center 
            width: auto
            column-gap: 30px
            &-item
                padding: 10px
                width: 300px
                img
                    display: block
                    margin: auto
        &-down    
            @include mixins.flex-row-center-center
            text-align: center   
            font-weight: bold
            color: varials.$cor800      
            width: auto
            column-gap: 30px
            &-item               
                width: 300px

.FA-beneficios-container
    @include mixins.flex-row-center-center
    margin: 50px 0
    column-gap: 50px
    img
        width: 430px
        height: auto
    li
       display: flex
       flex-direction: row
       i
            color: varials.$corPrincipal
            font-size: 1.2em
            margin: 0 15px 0 0      



.FA-usos-container
    @include mixins.flex-row-center-center
    margin: 50px 0
    column-gap: 30px
    &-item
        @include mixins.flex-column-center-center
        h1
            margin: 15px 0 0 0
            font-family: 'poppins', sans-serif
        i
            color: varials.$corPrincipal
            font-size: 70pt
        ul
            padding: 0
            margin: 0
        li
            text-align: center
            font-weight: 400
            margin: 10px 0
            
            

footer 
  @include mixins.flex-column-center-center
  width: 100%
  height: 100px

.redes 
  display: flex
  flex-direction: row
  align-items: center
  gap: 20px
  width: 100px

.cor-muda-svg:hover 
  fill: #2AACE4