@charset "UTF-8";
* {
  color: rgb(70, 70, 70);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  height: 100dvh;
  height: 100vh;
  background: rgb(255, 255, 255);
}
body a {
  text-decoration: none;
  color: black;
}
body a:hover {
  text-decoration: none;
  color: #0E82BB;
}
body ul {
  list-style: none;
}

.titulo {
  position: relative;
  /* base de todos os títulos*/
}
.titulo::after {
  content: "";
  position: absolute;
  top: 50px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #2AACE4;
}

.header {
  padding: 20px;
  width: 100%;
  height: 80px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-nav-buttons {
  width: 250px;
  height: 50px;
  column-gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.header-nav-list {
  width: 500px;
  height: 19px;
  padding: 0;
  margin: 0;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.header-nav-list-dropdown-content {
  display: none;
}
.header-nav-list-dropdown-content:hover {
  display: flex;
  flex-direction: column;
}
.header-nav-list-toggle {
  cursor: pointer;
  width: 20px;
  margin: 0 10px;
}
.header-logo {
  width: auto;
  height: auto;
}
.header-logo img {
  width: 80%;
  height: auto;
}
.header-nav-list {
  font-size: 1.2em;
}

.solves {
  width: 80%;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FA-topo {
  column-gap: 100px;
  flex-direction: row;
}
.FA-topo-desc {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  width: 600px;
  height: 280px;
}
.FA-topo-desc-buttons {
  padding: 10px 0 0 0;
}
.FA-topo-desc-buttons button {
  font-weight: bold;
  padding: 2px;
  width: 240px;
  height: 50px;
}
.FA-topo-desc-buttons button i {
  margin: 0 0 0 8px;
}
.FA-topo-desc p {
  font-size: 1.2em;
  font-weight: bold;
  width: 500px;
}
.FA-topo-desc img {
  position: absolute;
  right: 154px;
  top: -40px;
  display: block;
}

.FA-funcao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 65px;
  width: 100%;
}
.FA-funcao-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
}
.FA-funcao-container-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: auto;
  column-gap: 30px;
}
.FA-funcao-container-top-item {
  padding: 10px;
  width: 300px;
}
.FA-funcao-container-top-item img {
  display: block;
  margin: auto;
}
.FA-funcao-container-down {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  font-weight: bold;
  color: #0F587D;
  width: auto;
  column-gap: 30px;
}
.FA-funcao-container-down-item {
  width: 300px;
}

.FA-beneficios-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 50px 0;
  column-gap: 50px;
}
.FA-beneficios-container img {
  width: 430px;
  height: auto;
}
.FA-beneficios-container li {
  display: flex;
  flex-direction: row;
}
.FA-beneficios-container li i {
  color: #2AACE4;
  font-size: 1.2em;
  margin: 0 15px 0 0;
}

.FA-usos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 50px 0;
  column-gap: 30px;
}
.FA-usos-container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.FA-usos-container-item h1 {
  margin: 15px 0 0 0;
  font-family: "poppins", sans-serif;
}
.FA-usos-container-item i {
  color: #2AACE4;
  font-size: 70pt;
}
.FA-usos-container-item ul {
  padding: 0;
  margin: 0;
}
.FA-usos-container-item li {
  text-align: center;
  font-weight: 400;
  margin: 10px 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100px;
}

.cor-muda-svg:hover {
  fill: #2AACE4;
}

/*# sourceMappingURL=styleS.css.map */
