:root {
    --cor-principal: #1CB6E8;
    --gradient-1: #0274BE;
    --gradient-2: #378BC4;
}
body {
    height: 100vh;
    background-image: linear-gradient(45deg,#378BC4, #0274BE);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form {
    height: 800px;
    border: 1px solid black;
    margin-top: 10px;
}
header {
    
    text-align: center;
    width: 100%;
    background-color: white;
}
header img {
    margin: auto;
}
form {
    background-color: aliceblue;
    height: 750px;
    width: 550px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    border: 1px solid gray;
    box-shadow: 4px 4px 6px rgba(94, 94, 94, 0.5);
}
#alert {
    display: none;
}
h1 {
    
}
input {
    background-color: aliceblue;
    margin-top: 10px;
    width: 400px;
    border: 0;
    border-bottom: 2px solid black;
}
input:focus {
    outline: none;        
}
form div {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;  
}
#Logo {
    display: block;
}
#select select {
    width: 400px;
}
#button {
    margin-top: 35px;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 8px;
    width: 350px;
    padding: 10px;
}
#button:hover {
    background-color: #1CB6E8;
}
