body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.container {
    position: relative;
    width: 90%; /* aqui tudun */
    max-width: 800px;
    margin: 50px auto;
    padding: 30px; /* aqui tudun */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.212);
    overflow: hidden;
}

h1 {
    text-align: center;
    border-bottom: 3px solid #000000;
}

.row {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.column {
    width: 100%; /* aqui tudun */
    box-sizing: border-box;
    padding: 0 15px;
    margin-bottom: 20px; /* aqui tudun */
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select,
textarea,
input[type="date"],
select#sexo {
    width: 100%; /* aqui tudun */
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

select {
    width: 100%;
}

button {
    padding: 14px 20px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    width: 100%; /* aqui tudun */
    transition: border-color 0.3s ease;
}

button[type="submit"],
button[type="reset"] {
    margin: 8px 0;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
    background-color: #fff;
    color: #000;
    border: 1.5px solid #000;
}

form {
    text-align: center;
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 230px;
    height: auto;
    z-index: 1;
}

.error-message {
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: -20px;
    left: 0;
}

@media screen and (max-width: 768px) {
    .container {
        width: 95%; /* aqui tudun */
        margin: 20px auto;
        padding: 20px;
    }

    .column {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    select,
    textarea,
    input[type="date"],
    select#sexo {
        padding: 8px;
    }

    button[type="submit"],
    button[type="reset"] {
        width: 100%;
        margin: 8px 0;
    }

    .logo {
        width: 150px;
    }
}
