* {
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    align-items: center;  
    background-image: linear-gradient(#006241, #00754A);
}
header:hover {
    background-color: #ffff;
}
.mid-bar {
    height: 100px;
    margin: auto;  
}
.mid-bar img {
    margin-top: 15px;
}